.input {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 12px;
}

.form {
  border: none;
  color: white;
  margin: 50px;
}

.form,
.form input,
.form textarea,
.form button {
  font-family: "Open Sans", sans-serif;
}

.legend {
  text-align: flex-start;
  font-size: 26px;
}

.input input,
.input textarea {
  height: 56px;
  border-radius: 8px;
  padding: 8px;
}

.input textarea {
  height: 108px;
}

.form button {
  border: none;
  border-radius: 8px;
  padding: 16px;
  background-color: blueviolet;
  margin-top: 48px;
  width: 100%;
}

.form button a {
  text-decoration: none;
  color: white;
}
