.block {
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  padding: 5px;
  background-color: blueviolet;
  margin-bottom: 12px;
  max-width: 300px;
}

.block h3 {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 16px;
}