.block {
  border: none;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  background-color: blueviolet;
  margin-bottom: 24px;
  width: 768px;
}

.block h3 {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: white;
}
