.page {
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 24px;
  justify-content: space-around;
  font-family: "Inter", sans-serif;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  font-family: "Inter", sans-serif;
}

.title,
.link {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.title {
  font-size: 24px;
}